<body>
    <header>
        <div class="nav">
            <div class="navbar">
                <button routerLink="/lichthi" routerLinkActive="activebutton">Xem Lịch Thi</button>
                <button routerLink="/tkb" routerLinkActive="activebutton">Xem TKB Theo Tuần</button>
                <button routerLink="/diemthi" routerLinkActive="activebutton">Xem Điểm 1 Học Kì</button>
            </div>
        </div>
    </header>

    <section class="main">
        <div class="container">
            <router-outlet></router-outlet>
        </div>
    </section>

    <footer>
        <div class="footer">
            <span>Thiết kế bởi cty Phần mềm Anh Quân</span>
        </div>
    </footer>
</body>