table {
  position: relative;
  top: 60px;
  margin: 0;
  font-family: arial, sans-serif;
  border-collapse: collapse;
  width: 100%;
  text-align: center;
  font-size: small;
}

td,
th {
  border: 1px solid #dddddd;
  text-align: left;
  padding: 8px;
}

tr:nth-child(even) {
  background-color: #dddddd;
}

.form-control {
  width: 300px;
}

p .title {
  width: 1000px;
}

.input {
  display: flex;
  justify-content: flex-end;
}

.messenger {
  color: red;
}

.caption {
  position: absolute;
  margin-top: 20px;
  font-weight: 600;
}
